body {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px
    background-color: ;
}

h2 {
  text-shadow: 2px 2px 5px purple;
}

h4 {
  text-shadow: 2px 2px 5px purple;
}
