
body {
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
}

h1 {
    text-shadow: 2px 2px 5px purple;
    font-size: 30px; 
}

p {
    text-align: center;
}

sub {
    text-align: center;
    text-shadow: 2px 2px 5px purple;
    font-size: 12px;
    font-weight: bold;
}
